.Viewport {
	--viewport-padding: 25px;
	position: fixed;
	/* bottom: 0; */
  top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: var(--viewport-padding);
	gap: 10px;
	width: 390px;
	max-width: 100vw;
	margin: 0;
	list-style: none;
	z-index: 2147483647;
	outline: none;
}

.Root {
	background-color: var(--green);
	border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	padding: 15px;
	display: grid;
	grid-template-areas: "title action" "description action";
	grid-template-columns: auto max-content;
	column-gap: 15px;
	align-items: center;
	&[data-state="open"] {
		animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
	}
	&[data-state="closed"] {
		animation: hide 100ms ease-in;
	}
	&[data-swipe="move"] {
		transform: translateX(var(--radix-toast-swipe-move-x));
	}
	&[data-swipe="cancel"] {
		transform: translateX(0);
		transition: transform 200ms ease-out;
	}
	&[data-swipe="end"] {
		animation: swipeOut 100ms ease-out;
	}
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
	to {
		transform: translateX(0);
	}
}

@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
}

.Title {
	grid-area: title;
	margin-bottom: 5px;
	font-weight: 500;
	/* color: #1C2024; */
	color: #fff;
	font-size: 15px;
}

.Description {
	grid-area: description;
	margin: 0;
	/* color: #60646c; */
	color: #fff;
	font-size: 13px;
	line-height: 1.3;
}

.Action {
	grid-area: action;
}


/* Toast.module.css */
.toastBase {
  padding: 16px;
  border-radius: 8px;
  font-size: 14px;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

.info {
  background-color: #2196f3; 
}

.warning {
  background-color: #ff9800; 
}

.success .Title, .success .Description {
  color: white;
}

.error .Title, .error .Description {
  color: white;
}

.info .Title, .info .Description {
  color: white;
}

.warning .Title, .warning .Description {
  color: black;
}


.Close {
  background: transparent; 
  border: none;            
  padding: 0;              
  color: inherit;   
	/* color: #000;        */
  font-size: 0.5rem;       
  cursor: pointer;        
  outline: none;           
  /* position: absolute;       */
  top: 10px;               
  right: 10px;            
}


.Close:focus,
.Close:hover {
  outline: none; 
  background: none; 
	/* color: #000; */
}


/* .Close:hover span {
  color: #ff0000; 
} */