@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  @apply bg-sky-50 text-neutral-700 scroll-smooth;
}

.scrollbar-none::-webkit-scrollbar{
  display: none;
}

.scrollbarCustom::-webkit-scrollbar{
  width: 7px;
  @apply bg-slate-100
}

.scrollbarCustom::-webkit-scrollbar-thumb{
  @apply bg-blue-100 rounded-full
}